.Weather {
    clear: both;
    float: right;
    background-color: green;
}


nav{
    background-color: red;
    padding: 20px;
}

li {
    margin: 10px;
    display: inline;
}

ul {
    display: inline;
    list-style: none;
    margin: 0;
}

h1 {
    text-align: center;
}
